/*Styling for the Nav layout */
.logo{
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  font-family: Bungee;
  font-size: 36px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  width: 100vw;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  position: fixed;
}

.right-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.right-nav > .fa-angle-double-down {
  color: red;
}

