/*layout for the new tweet features*/
.text1{
  width: 100%;
}
.new-tweet{
  width: 50%;
}
.button{
  font-family: Bungee;
  color: #FFFFFF;
  background-color: #4056A1;
}
.sep{
  font-family: Bungee;
  display: flex;
  justify-content: space-between;
}
.class{
  width: 90%;
  
}
.class:hover{
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);

}